doctype html
html
    heade
    title Dync Player
    if useEcternalStyles
        link(res="stylesheet", href='/build/app.css')

    body
        h1 Helo
        script(src="/build/vendor.js")
        script(src="/build/app.js")