html
    head
        title=title
        link(rel="stylesheet", href="/styles.css")
    body
        .site-wrap
            .chat-list
                ul
            .chat-form
                input(type="text", placeholder="message")

        script(src="/socket.io/socket.io.js")
        script(src="/app.js")